{% extends "base.html" %}
{% block title %}Add New Bothy{% endblock %}
{% block content %}
<div class="mt-1 p-5 bg-tertiary text-black rounded">
    <h2>Add New Bothy</h2>
    <h3>Click on the map to specify the location or enter coordinates manually using the form:</h3>
    <div id="map"></div>
    <script type="text/javascript" src="/static/js/basemap.js"></script>
    <script type="text/javascript" src="/static/js/customicon.js'"></script>
    <script type="text/javascript" src="/static/js/addonepoint.js"></script>
    <form action="http://127.0.0.1:5000/addbothy" method="POST">
        <fieldset>
            <legend>Bothy Details(all fields required):</legend>
            <div class="form-group row">
                <label for="bothyname">Bothy Name:</label>
                <div class="col-sm-10">
                    <input id="bothyname" type="text" name="BothyName" />
                </div>
            </div>
            <div class="form-group row">
                <label for="longitude">Longitude:</label>
                <div class="col-sm-10">
                    <input id="longitude" type="text" name="Longitude" />
                </div>
            </div>
            <div class="form-group row">
                <label for="latitude">Latitude:</label>
                <div class="col-sm-10">
                    <input id="latitude" type="text" name="Latitude" />
                </div>
            </div>
        </fieldset>
        <div class="row mt-4">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
{% endblock content %}